.bg-image{
    background-image: url(../images/volvo-nav/backNav.jpg);
    background-repeat: no-repeat;
    background-blend-mode:luminosity;
   
}

#fdIma{
    background-image: url(../images/RecoleccioÌn-Fedex.png);
   background-repeat: no-repeat;
    background-size: 100%;
   
}
#fdXIma{
    background-image: url(../images/fedexima.png);
    background-size: 100%;
    background-repeat: no-repeat; 
}

.car{

    width: 100%;
    height: 20%;
}

.cars{
    border-radius: 3px;
}