body {
    background-color: #979595;
}

.nav {
    /*background-color: rgb(41, 105, 161);*/
    background-image: url(../images/volvo-nav/backNav.jpg);
}

.volvo-title{
    font-family: Bernard-MT ;
    color: aliceblue;
}
.volvo-subtitle{
    font-family: Cooper-Black ;
    color: aliceblue;
}

.button{
    backdrop-filter: blur(10px); /* Chrome and Opera */
   background-color: rgba(255, 255, 255, 0.2);
    color: aliceblue;
    border-radius: 10px;
    width: 100%;
}

.button:hover{
    background-color: #91908f;
    border-color: #3c3c3d;
    color: aliceblue;
}

.button:active{
    background-color: #eae4e0;
}

.text{
    color: aliceblue;
}

.text:hover{
    background-color: #595756;
    color: rgb(68, 68, 69);
    border-style: dashed;
    border-color: black;
}


.menu {
    backdrop-filter: blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.2);
     color: rgb(34, 34, 34);
     border-style: dashed;
     border-color: black
    
    
}

.mymodal{

    backdrop-filter: blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
    color: aliceblue;
}

.btn-close-m{
    background-color: #bcbcbc;
}
.btn-action{    
    background-color: #3773f4;
}

